@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/optionalPow.js" asp-append-version="true"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Press 'ctrl + shift i' and check the console bookmark to see the function console log.</p>
</div>
